<#
    // The namespace the generated code is placed in
    Namespace   = "WellFormed2.WPF"         ;   

    Model = new []
    {
        // The name of a class
        new ClassDefinition ("FormletControl")
        {
            // The name of the command
            C ("Submit" ), 
            C ("Reset"  ), 
        },
    };

#>

<#@ include file="$(SolutionDir)\packages\T4IncludeTemplate.1.0.2\T4\RoutedCommands.ttinclude" #>


